*, *:before, *:after {
  box-sizing: border-box;
}

.message {
  color: white;
  padding: 8px 9px;
  line-height: 16px;
  font-size: 11px;
  margin-bottom: 15px;
  max-width: 80%;
  position: relative;
}

.my-message {
  background: #C2C2C2;
  color: black;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 5;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}

.other-message {
  background: #51BFA3;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomright: 0;
  border-radius: 5px;
  border-bottom-right-radius: 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.logo-block div{
    display: inline-block;
}

.logo {
  padding: 5px;
  vertical-align: bottom;
}

.logo img {
    margin-bottom: 4px
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
  margin-bottom: -10px;
}
